:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}


button + button {
  margin-left: 5px;
}

input{
   margin-left: 5px;
}

select{
   margin-left: 5px;
}

label{
   margin-left: 5px;
}
button {
  outline:none;
  &.is-active {
    background-color: blue;
  }
}

